#admin-index {
    .img-preview {
        flex-basis: 200px;

        .o-ratio {
            flex: 1;
        }

        img {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
        }
    }
}