#admin-index {
    .level-right {
        a {
            position: relative;
        }
        .level-item:last-child {
            i {
                position: absolute;
                right: -21px;
                top: 4px;
            }
        }
    }

    .img-preview {
        flex-basis: 200px;

        .o-ratio {
            flex: 1;
        }

        img {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
        }
    }
}