#blogpost-view {
    .header-image {
        overflow: hidden;
        position: relative;

        &:before {
            background-position: center;
            background-size: cover;
            content: "";
            filter: blur(5px);
            display: block;
            opacity: 0.40;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
            width: 100%;
            height: 39rem;
        }
    }
}

#comments {
    margin: 0 auto;
    max-width: 600px;

    h3 {
        margin-bottom: 0.75rem;
    }

    .media + .media {
        border-top: 1px solid rgba(33, 33, 33, 0.2);
    }

    .comment {
        position: relative;

        .delete {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
        }
    }
}

#load-more-comments {
    margin-bottom: 1rem;
}

#comment-form {
    border-top: 1px solid rgba(33, 33, 33, 0.2);
    margin-top: 1rem;
    padding-top: 1rem;
}