extends layout.pug

block title
    title= "404 Page Not found"

block content
    section(class="hero is-danger is-large")
            .hero-body
                div(class="container has-text-centered")
                    h1.title Not Found!
                    p.subtitle Ups... The page you are trying to access was not found :(