doctype html
html(class='no-js', lang='')
    head
        include ./includes/head.pug
        link(rel='stylesheet', href='/public/dist/main.c1703a1e90e95da52fe7895c15a14f86.css')
        block head

    body(id=pageId)
        include ./includes/navbar.pug

        block content

        include ./includes/footer.pug

        script.
            window.pageId = "#{pageId}";

        //- This is only for the Live Demo application
        //- to prevent deleting some BlogPosts
        if protectedBlogPosts
            script.
                window.__protectedBlogPosts = "#{protectedBlogPosts}".split(',').map(id => +id);
        script(src="/public/dist/main.153df6d3ac4352f38cb1.js")
        block scripts