doctype html
html(class='no-js', lang='')
    head
        include ./includes/head.pug
        link(rel='stylesheet', href='/public/dist/main.cdd8c7d393220247e6a89df09a299b55.css')
        block head

    body(id=pageId)
        include ./includes/navbar.pug

        block content

        include ./includes/footer.pug

        script.
            window.pageId = "#{pageId}";

        //- This is only for the Live Demo application
        //- to prevent deleting initial BlogPosts
        if protectedBlogPosts
            script.
                window.__protectedBlogPosts = "#{protectedBlogPosts}".split(',').map(id => +id);
        script(src="/public/dist/main.86291f8e351b4a560f75.js")
        block scripts