doctype html
html(class='no-js', lang='')
    head
        include ./includes/head.pug
        link(rel='stylesheet', href='/public/dist/main.5a4054c6494eefe70bc6.css')
        block head

    body(id=pageId)
        include ./includes/navbar.pug

        block content

        include ./includes/footer.pug

        script.
            window.pageId = "#{pageId}";

        //- This is only for the Live Demo application
        //- to prevent deleting initial BlogPosts
        if protectedBlogPosts
            script.
                window.__protectedBlogPosts = "#{protectedBlogPosts}".split(',').map(id => +id);
        script(src="/public/dist/main.86b38089ec5da34fbbbd.js")
        block scripts