head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    block title
        title Blog

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.0/build/pure-min.css')
    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
    link(rel='stylesheet', href='/public/css/normalize.min.css')
    link(rel='stylesheet', href='/public/css/main.css')

    block head

    script(src='https://use.fontawesome.com/ddde362f07.js')