nav(class="navbar")
    .container
        .navbar-brand
            .navbar-item MY BLOG

        .navbar-menu
            .navbar-start
                a(class="navbar-item" href="/blog") Home
                a(class="navbar-item" href="/admin") Admin
            .navbar-end
                block navbar-right